
/*
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 9px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}*/
/*.navbar {
    border: 1px solid transparent;
    margin-bottom: 20px;
    min-height: 40px;
    position: relative;
}*/
body,html{
	font-size:14px;
	
}
.nav-form {
    background-color: #184a7d;
    background-image: linear-gradient(to bottom, #17568c, #1a3867);
    background-repeat: repeat-x;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
	padding :10px;
	height: 50px;
}
.nav-title {    
    color: white;
    float:left;
    font-size:18px;
}

.nav-button {    
    color: white;
    float:right;

	
}
.form-horizontal .control-label {
    
    text-align: left;
}

textarea.form-control {
  height: 20%;
  width: 500px;
}
checkbox.form-control {
	height: 3px;
}

.form-control {
    display: block;
    width: 100%;
    height:30px;
    
}

input[type="checkbox"], input[type="radio"] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    box-sizing: border-box;
    height:15px;
    
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th
{
	padding: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
	font-size:14px;
	
}